<p id="notice"><%= notice %></p>

<%= image_tag @comic.strip.url %>

<p>
  <b>Series:</b>
  <%= @comic.series %>
</p>


<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
