<p id="notice"><%= notice %></p>

<%= image_tag @cast.headshot.url %>

<p>
  <b>Name:</b>
  <%= @cast.name %>
</p>

<p>
  <b>Description:</b>
  <%= @cast.description %>
</p>

<p>
  <b>Likes:</b>
  <%= @cast.likes %>
</p>

<p>
  <b>Dislikes:</b>
  <%= @cast.dislikes %>
</p>

<p>
  <b>Dreams and Goals:</b>
  <%= @cast.dreams %>
</p>

<%= link_to 'Edit', edit_gerbil_cast_path(@cast) %> |
<%= link_to 'Back', gerbil_casts_path %>
